html, body{
    height:100%;
}

@media screen and (min-width: 700px) {
    .vertical-align {
      display: flex;
      flex-direction: row;
    }

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"]{
      display: flex;
      align-items: center;
      justify-content: center; /* Optional, to align inner items 
                                  horizontally inside the column */
    }

    /**
     *  Do NOT include this part into your stylesheet.
     *  "flex: 1" or "flex-grow: 1" is added to make the inner div
     *  - Which is also a flex-item - take up all the horizontal space
     *  available space inside the flex container (.col-* elements)
     */
    .vertical-align > [class^="col-"] > div,
    .vertical-align > [class*=" col-"] > div {
      /* flex: 1; */
      flex-grow: 1;
    }

    #footer{
        height:10%;
    }

    #content .container{
        height:100%;
    }
    
    .buttonHome p{
        font-size:3em;
    }
    
    #content{
        height:90%;
    }
}

@media screen and (max-width: 700px) {
    .buttonHome p{
        font-size:2em;
    }  
}

#content .container{
    width:100%;
    padding:0px;
    margin:0px;
}

#content{
    padding-top: 50px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    text-align:center;
}

#content .div{
    padding:0px !important; 
}

#buttonInfoModal{
    cursor:pointer;
}

.buttonHome{
    color: white;
    cursor:pointer;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}

.buttonHome:hover{
    opacity:0.8;
}

#content .row{
    padding:0px;
    margin:0px; 
    height:50%;
    position:relative;
}

#addRide{
    background-color:rgba(92, 184, 92, 1);
    height: 100%;
}

#findRide{
    background-color:rgba(91, 192, 222, 1); 
    height: 100%;   
}

#rides{
    background-color:rgba(92, 184, 92, 1);
    height: 100%;  
}

#bookings{
    background-color:rgba(91, 192, 222, 1); 
    height: 100%;    
}

#addCar{
    background-color:rgba(92, 184, 92, 1);
    height: 100%;    
}

#removeCar{
    background-color:rgba(91, 192, 222, 1); 
    height: 100%;   
}